{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}


  
   Registration     
{% endblock %}
{% block content %}
 

<!-- ======= Contact Section ======= -->
<div class= "main" style="display:flex;justify-content:center; background-color: darkgray;">
<section id="contact" class="contact" style="padding-top: 120px;  width:400px" >
  <div class="container center" >

      <form action="" method="POST" class="center">
          <h2>ORDER REQUEST </h2>
          {% csrf_token %}
          {{ order_details|crispy }}
      <button class="btn btn-primary" type="submit" style="margin-left:143px">Submit</button>
      </form>
    </div>
     

       
   
   
  </div>
</section><!-- End Contact Section -->
{% endblock %}